.modal-btn {
  position:relative;
  height:90px;
  margin:25px;
  width:90px;
  border-style:none;
  border-radius:50%;
  display:inline-block;
  color:#fff;
  background-color:rgb(173,214,177);
  z-index:10;
  box-shadow:0px 0px 10px #000;
  font-size:28px;
}
.modal-btn:focus {
  box-shadow:0px 0px 30px #deb215;
  /* background-color:rgb(251,137,122); */
  /* border-style:none; */
}
.modal-btn:hover {
  background-color:rgb(255,255,255) !important;
  color:#000000;
  /* border-style:none; */
}


.tool {
  position:absolute;
  bottom:0px;
  height:75px;
  margin:25px;
  width:75px;
  border-style:none;
  border-radius:50%;
  display:inline-block;
  background-color:rgb(255,92,70);
  z-index:10;
  box-shadow:0px 0px 20px #000;
  font-size:28px;
}

.tool:hover {
  color:rgb(255,255,255);
  background-color:rgb(251, 137, 122);
}

.tool:active {
  background-color:rgb(251, 137, 122);
}

.tool:focus {
  box-shadow:0px 0px 15px #000;
  background-color:rgb(251,137,122);
  border-style:none;
}

.tool:visited {
  background-color:rgb(251,137,122);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color:rgb(255,238,237);
  color:#000000;
}

.ar {
  margin:0;
  height:100%;
  overflow:hidden;
}
